# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Project specific
backend/images/
backend/images_preview/
backend/selected_images/
volumes/
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db
