# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# VS Code settings
.vscode/

# Environment variables
.env
.env.*

# Mac system files
.DS_Store

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Database files
*.sqlite3
venv/
images/
images_preview/
volumes/
.git/
